* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Anton', sans-serif;
  background-color: #FFF;
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  user-select: none;
  background-color: #FFF;
}

.js-height {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 4vw;
  mix-blend-mode: difference;
}
p {
  color: #FFF;
  font-size: 20vw;
  letter-spacing: 0.1em;
}